.App {
  text-align: center;
}

.App-logo {
  height: 14vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-nav {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  padding: 0 10px;
  text-decoration: none;
  color: #61dafb;
}

.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
